# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Build
target
!target/*.jar

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
HELP.md
README.md

# Test
src/test
